## Netflix Dataset

Contains information about TV Shows and Movies available on Netflix till 2021.

It is available on Kaggle for free.

We will analyze this dataset using Pandas dataframe.

Commands we'll use  

* head() - It shows the first N rows in the data (by default, N=5).
* tail () - It shows the last N rows in the data (by default, N=5).
* shape - It shows the total no. of rows and no. of columns of the dataframe.
* size - To show No. of total values(elements) in the dataset.
* columns - To show each Column Name.
* dtypes - To show the data-type of each column.
* info() - To show indexes, columns, data-types of each column, memory at once.
* value_counts - In a column, it shows all the unique values with their count. It can be applied on a single column only.
* unique() - It shows the all unique values of the series.
* nunique() - It shows the total no. of unique values in the series.
* duplicated( ) - To check row wise and detect the Duplicate rows.
* isnull( ) - To show where Null value is present.
* dropna( ) - It drops the rows that contains all missing values.
* isin( ) - To show all records including particular elements.
* str.contains( ) - To get all records that contains a given string.
* str.split( ) - It splits a column's string into different columns.
* to_datetime( ) - Converts the data-type of Date-Time Column into datetime[ns] datatype.
* dt.year.value_counts( ) - It counts the occurrence of all individual years in Time column.
* groupby( ) - Groupby is used to split the data into groups based on some criteria.
* sns.countplot(df['Col_name']) - To show the count of all unique values of any column in the form of bar graph.
* max( ), min( ) - It shows the maximum/minimum value of the series.
* mean( ) - It shows the mean value of the series.

## Read csv to dataframe

In [1]:
import pandas as pd
df = pd.read_csv("8. Netflix Dataset.csv")

In [2]:
df.head(3)

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."

In [7]:
df.shape

(7789, 11)

In [4]:
df.isnull().sum()

Show_Id            0
Category           0
Title              0
Director        2388
Cast             718
Country          507
Release_Date      10
Rating             7
Duration           0
Type               0
Description        0
dtype: int64

### Task. 1) Is there any Duplicate Record in this dataset ? If yes, then remove the duplicate records.

### Task. 2) Is there any Null Value present in any column ? Show with Heat-map.

### Q. 1) For 'House of Cards', what is the Show Id and Who is the Director of this show ?

### Q. 2) In which year the highest number of the TV Shows & Movies were released ? Show with Bar Graph.

### Q. 3) How many Movies & TV Shows are in the dataset ? Show with Bar Graph.

### Q. 4) Show all the Movies that were released in year 2000.

### Q. 5) Show only the Titles of all TV Shows that were released in India only.

### Q. 6) Show Top 10 Directors, who gave the highest number of TV Shows & Movies to Netflix ?

### Q. 7) Show all the Records, where "Category is Movie and Type is Comedies" or "Country is United Kingdom".

### Q. 8) In how many movies/shows, Tom Cruise was cast ?

### Q. 9) What are the different Ratings defined by Netflix ?

### Q. 9.1) How many Movies got the 'TV-14' rating, in Canada ?

### Q. 9.2) How many TV Shows got the 'R' rating, after year 2018 ?

### Q. 10) What is the maximum duration of a Movie/Show on Netflix ?

### Q. 11) Which individual country has the Highest No. of TV Shows ?

### Q. 12) How can we sort the dataset by Year ?

### Q. 13) Find all the instances where: Category is 'Movie' and Type is 'Dramas' or Category is 'TV Show' & Type is 'Kids' TV'.