## The Police Dataset

Data from a Police Check Post is given.

We will analyze this dataset using Pandas dataframe.

Commands we'll use  

* import pandas as pd -- To import Pandas library
* pd.read_csv - To import the CSV file in Jupyter notebook
* head() - It shows the first N rows in the data (by default, N=5)
* df.isnull( ).sum( ) - It detects the missing values from each column of the dataframe.
* df.drop(‘Col_name’ )   - To drop a column from dataframe.
* value_counts - In a column, it shows all the unique values with their count. It can be applied on a single column only.
* df.groupby(‘Col_1’)[‘Col_2’] .sum( ) - To create groups - Two Keys – Apply on Col_2 grouped by Col_1.
* df['Column_name'].map( { old1:new1 , old2:new2} ) – Change the all values of a column from old to new. We have to write for all values of column otherwise Nan will appear.
* df['Column_name'].mean() - To show Mean value of a column.
* df.groupby('Column_1').Column_2.describe() - To create groups based on Column1 and show statistics summary based on Column2.

## Read csv to dataframe

In [1]:
import pandas as pd
df = pd.read_csv("3. Police Data.csv")

### .head()
It shows the first N rows in the data (by default, N=5).

In [2]:
df.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

### .shape 
It shows the total no. of rows and no. of columns of the dataframe

In [3]:
df.shape

(65535, 15)

### Q. 1) Instruction ( For Data Cleaning )
- Remove the column that only contains missing values.

### Q. 2) Question ( Based on Filtering + Value Counts ) 
- For Speeding , were Men or Women stopped more often ?

### Q. 3) Question ( Groupby ) 
- Does gender affect who gets searched during a stop ?
Question ( mapping + data-type casting )

### Q. 4) Question ( mapping + data-type casting ) 
- What is the mean stop_duration ?

### Q. 5) Question ( Groupby , Describe ) 
- Compare the age distributions for each violation.